In [34]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
from bs4 import BeautifulSoup
import warnings

In [35]:
files = ['Youtube01-Psy.csv','Youtube02-KatyPerry.csv','Youtube03-LMFAO.csv','Youtube04-Eminem.csv','Youtube05-Shakira.csv']
frames = [pd.read_csv(f) for f in files]
data = pd.concat(frames,axis=0,ignore_index=True)
print(data.shape)
data.head()

(1956, 5)

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [36]:
data = data.drop(['COMMENT_ID','AUTHOR','DATE'],axis=1)
print(data.shape)
data.head()

(1956, 2)

                                             CONTENT  CLASS
0  Huh, anyway check out this you[tube] channel: ...      1
1  Hey guys check out my new channel and our firs...      1
2             just for test I have to say murdev.com      1
3   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4            watch?v=vtaRGgvGtWQ   Check this out .﻿      1

In [37]:
warnings.filterwarnings("ignore", category=UserWarning, module='bs4')
data['CONTENT'] = data['CONTENT'].apply(lambda x: BeautifulSoup(x,'html.parser').get_text())

In [38]:
print(data.shape)
for idx,x in data.iterrows():
    if x['CONTENT'].find('Hey guys,')!=-1:
        print(str(idx),end='\n')
        print("-->" + str(x['CLASS']),end="\n")
        print("-->" + x['CONTENT'],end="\n\n")

(1956, 2)
569
-->1
-->Hey guys, I was working last night on this project, it's a music streamer  like spotify, but it allows you to download the files to listen to when  you're offline. Opening it as a free beta, feel free to try it out :) download: https://mega.co.nz/#!ehVjzKyA!5bGKg2iWPHZOHWAEUesrWnegqG_lABcO7Rw9WFX8hAo﻿

702
-->1
-->Hey guys, I'm a human.But I don't want to be a human, I want to be a sexy fucking giraffe.I already have the money for the surgery to elongate my spinal core, the surgery to change my skin pigment, and everything else! Like this post so others can root me on in my dream!!!!Im fucking with you, I make music, check out my first song! #giraffebruuh﻿

In [39]:
import re,string
data['CONTENT'] = data['CONTENT'].apply(lambda x: re.sub('[^a-zA-Z ]', '', x))
data.head()

                                             CONTENT  CLASS
0  Huh anyway check out this youtube channel koby...      1
1  Hey guys check out my new channel and our firs...      1
2              just for test I have to say murdevcom      1
3       me shaking my sexy ass on my channel enjoy        1
4                watchvvtaRGgvGtWQ   Check this out       1

In [40]:
data.groupby('CLASS').count()

       CONTENT
CLASS
0          951
1         1005

In [41]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

# -*- coding: utf-8 -*-
def isEnglish(s):
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True
words = set(stopwords.words('english'))
def stop_rem(s):
    new_s = ''
    word_list = word_tokenize(s)
    word_list = ["_link_feature_" if x.find('http')!=-1 else x for x in word_list]
    word_list = ["_link_feature_" if x.find('watch')!=-1 and len(x)>9 else x for x in word_list]
    for w in word_list :
        if w.lower() not in words and isEnglish(w):
            new_s = new_s + w.lower() + ' '
    return new_s
data['CONTENT'] = data['CONTENT'].apply(lambda x: stop_rem(x))

In [42]:
data.head()

                                             CONTENT  CLASS
0         huh anyway check youtube channel kobyoshi       1
1  hey guys check new channel first vid us monkey...      1
2                                test say murdevcom       1
3                    shaking sexy ass channel enjoy       1
4                              _link_feature_ check       1

In [43]:
data_train, data_test =train_test_split(data,test_size=0.20,random_state=42)
data_train.head()

                                            CONTENT  CLASS
836                              cant stop shuffle       0
1688                                  amazing song       0
1505  omg guy sounds like american professor green       0
1650                           cool best song ever       0
1573              subscribe channel _link_feature_       1

In [44]:
from collections import Counter
token = []
for idx,x in data_train.iterrows():
    token = token + word_tokenize(x['CONTENT'])
print(len(token))
token = ["_link_feature_" if x.find('http')!=-1 else x for x in token]
token = ["_link_feature_" if x.find('watch')!=-1 and len(x)>9 else x for x in token]
c= Counter(token)
features = [x for x,y in c.items() if y>3]
print(len(features))

12978
550

In [45]:
total = data_train.shape[0]
spamcounter = 0
hamcounter = 0
for value in data_train['CLASS']:
    if value:
        spamcounter +=1
    else:
        hamcounter +=1
pspam = spamcounter/float(total)
pham = hamcounter/float(total)

In [46]:
#total word count of spam and ham words
totalham = 0
totalspam = 0

#counter array to calculate probability
counter_words = dict((key,[0,0]) for key in features)

#array to store probability of each word in spam and ham
prob_spam = dict((key,0.0) for key in features)
prob_ham = dict((key,0.0) for key in features)

#index 0 of counter_words value is for spam and 1 index value for non spam coutner
#EX : {'check':[12,5]} means 'check' word appear 12 times in spam mail and 5 times in non spam mail

for idx,x in data_train.iterrows():
    tokens = word_tokenize(x['CONTENT'])
    tokens = ["_link_feature_" if x.find('http')!=-1 else x for x in tokens]
    tokens = ["_link_feature_" if x.find('watch')!=-1 and len(x)>9 else x for x in tokens]
    tokens = [x for x in tokens if x in features]
    if x['CLASS']==1:
        totalspam+=len(tokens)
        for word in tokens:
            cntr = counter_words[word]
            cntr[0] +=1
            counter_words[word] = cntr
    else:
        totalham+=len(tokens)
        for word in tokens:
            cntr = counter_words[word]
            cntr[1] +=1
            counter_words[word] = cntr
#calculating probability


for key,value in counter_words.items():
        prob_spam[key] = value[0]/float(totalspam)
        prob_ham[key] = value[1]/float(totalham)

In [30]:
tp = 0
tn = 0
fp = 0
fn = 0
output = []
def classify(s):
    prospam = 1.0
    proham = 1.0
    input_ = word_tokenize(s)
    input_ = ["_link_feature_" if x.find('http')!=-1 else x for x in input_]
    input_ = ["_link_feature_" if x.find('watch')!=-1 and len(x)>9 else x for x in input_]
    input_ = [x for x in input_ if x in features]
    for inp in input_:
        prospam *= prob_spam[inp]
        proham *= prob_ham[inp]
    if prospam*pspam>proham*pham:
        return 1
    else:
        return 0
output = [classify(S) for S in data_test['CONTENT']]

#custome comment
print(classify("Hi i am poojan subscribe to my channle: Here is link"))
print(classify("nice song! Keep it up"))
print(classify("omg 1 billion views. Great song!! loved it"))
print(classify("Visit my facebook page :"))
print(classify("great song! thank you for good music"))

1
0
0
1
0

In [47]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score,f1_score

matrix = confusion_matrix(data_test['CLASS'], output)
acc = accuracy_score(data_test['CLASS'], output)*100
tn,fp,fn,tp = matrix.ravel()
fscore = f1_score(data_test['CLASS'],output)

print("Confustion Matrix : \n" + str(matrix),end='\n\n')
print(str(acc) + "%")
print("F1 score : " + str(fscore))

Confustion Matrix :
[[139  37]
 [ 15 201]]

86.7346938776%
F1 score : 0.885462555066